[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-Priority=TopLevel
Actions = openwezterm

[Desktop Action openwezterm]
Name = Open In WezTerm
Name[nl] = Openen in WezTerm
Name[es] = Abrir en WezTerm
Name[fr] = Ouvrir dans WezTerm
Name[zh_CN] = 在WezTerm中打开
Exec=/usr/bin/wezterm start --cwd %F
Icon=org.wezfurlong.wezterm

